<div class="booking-container">
  <h1>Booking</h1>
  <p>Book your next adventure with TravelBuddy!</p>
  <img src="assets/booking-image.jpg" alt="Booking Image">
</div>


<div>
  <img src="/assets/Bangalore.jpg">
  <img src="/assets/vidhansoudha.jpg" >
  <img src="/assets/Mysore.jpg" >
  <img src="/assets/chamundihill.jpg" >
  <img src="/assets/hampi.jpg" >
  <img src="/assets/lotusmahal.jpg">
  <img src="/assets/Coorg.jpg" >
  <img src="/assets/gokarna.jpg" >
  <img src="/assets/Unchalli.jpg" >
  <img src="/assets/tokyo.jpg" >
</div>